.loader {
  animation: glow 1.5s ease-in-out infinite alternate;
  background: lightgray;
  border-radius: 15px;
  height: 20px;
}

.glow {
  font-size: 80px;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0.2;
  }
}
